<div id="app" class="container-fullwidth fixed-top">
    <nav class="navbar navbar-toggleable-md navbar-light navbar-inverse bg-faded flex-row flex-nowrap" style="background-color: #000000">
            <a class="navbar-brand navina" href="/">
                <img src="/images/logow.png" class="img-fluid" alt="Responsive image">
            </a>
            <ul class="navbar-nav d-flex flex-row flex-nowrap ml-auto mr-lg-0 col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <li class="nav-item hidden-lg-up ikonamala">
                    <div class="size">
                     <a class="nav-link">
                         <img src="/images/search.png" alt="search" class="field">
                     </a>
                     <ul class="list" id="miniSearch">
                             <form class="form-inline my-2" action="/search" method="post">
                                 <input class="form-control mr-sm-2" id="search" name="search" placeholder="Hľadám..." type="text">
                             </form>
                     </ul>
                 </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link hidden-md-down" href="/kosik/">
                        <img src="/images/kosik.png" class="img-rounded" aria-hidden="true" style="height:25px; width:25px"> Košík
                        <span class="badge"></span>
                    </a>
                    <a class="nav-link hidden-lg-up ikonamala" href="/kosik/">
                        <img src="/images/kosik.png" class="img-rounded" aria-hidden="true" style="height:25px; width:25px">
                        <span class="badge"></span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hidden-md-down" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img src="/images/pouz.png" class="img-circle" style="height:25px; width:25px"> Používateľ
                    <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu my-2 my-lg-0" aria-labelledby="navbarDropdownMenuLink" align="right">
                        {{# if login}}
                        <a class="dropdown-item" href="/user/userprofile">Tvoj účet</a>
                        <a class="dropdown-item" href="/user/logout">Odhlásiť</a> {{ else }}
                        <a class="dropdown-item" href="/user/login">Prihlás sa</a>
                        <a class="dropdown-item" href="/user/signup"> Zaregistrovať </a> {{/if}}
                    </div>
                </li>
                <li class="nav-link hidden-lg-up">
                    <div class="size">
                        <img src="/images/pouz.png" class="img-circle field" style="height:25px; width:25px; margin-right:15px">
                        <ul class="list">
                            {{# if login}}
                            <li class="dropdown-item" onclick="location.href='/user/userprofile'">Tvoj účet</li>
                            <li class="dropdown-item"  onclick="location.href='/user/logout'">Odhlásiť</li> {{ else }}
                            <li class="dropdown-item" onclick="location.href='/user/login'">Prihlás sa</li>
                            <li class="dropdown-item"  onclick="location.href='/user/signup'"> Zaregistrovať </li> {{/if}}
                        </ul>
                    </div>
                </li>
                <button class="navbar-toggler navbar-toggler-right navina" id="burgerNavbarToggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </ul>
    </nav>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded hidden-md-down" id="greyNavbar">
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="clear" aria-expanded="false">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/search ">Nové</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tvár</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Oči</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pleť</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nechty</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="font-color: red">Výpredaj</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 hidden-md-down" action="/search" method="post">
          <input class="form-control mr-sm-2" id="search" name="search" type="text" placeholder="Hľadám...">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
</div>
