<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<div class= "row">
    <div class="col-md-4 col-md-offset-4">
    <h3> tu mozes nahravat novy tovar </h3>
{{# if success }}
    <div class="alert alert-success">
    <h2> {{this.success}} </h2>
{{/ if }}
{{# if error}}
    <div class="alert alert-error" >
    <h1> {{this.error}} </h2>
{{/ if }}

      <div>
          <form action="/upload" method="post" enctype=multipart/form-data>
              <div class="form-group">
                  <label for="nazov">Sem napis nazov tovaru</label>
                  <textarea name="nazov" class="form-control" id="nazov" rows="1"></textarea>
              </div>
              <div class="form-group">
                  <label for="popis">Daj popis</label>
                  <textarea name="popis" class="form-control" id="popis" rows="5"></textarea>
              </div>
              <div>
                  <select class="form-control" name="kategoria" id="kategoria">
                    <option>Oci</option>
                    <option>Pery</option>
                    <option>Tvar</option>
                    <option>Nechty</option>
                    <option>Vône</option>
                    <option>Doplnky</option>
                    <option>Novinky</option>
                  </select>
              </div>
              <div>
                  <select class="form-control" name="podkategoria" id="podkategoria">
                    <option>Ocne tiene</option>
                    <option>Maskary</option>
                    <option>Ocne linky</option>
                    <option>Kajalove ceruzky</option>
                    <option>Obocenky</option>
                    <option>Ruze</option>
                    <option>Konturky</option>
                    <option>Lesky</option>
                    <option>Starostlivost o Pery</option>
                    <option>Makeup</option>
                    <option>Bronzujuce pudre</option>
                    <option>Pudre</option>
                    <option>Licka</option>
                    <option>Korektory</option>
                    <option>Rozjasnovace</option>
                    <option>Laky na nechty</option>
                    <option>Odlakovace</option>
                    <option>Starostlivost o nechty</option>
                    <option>Stetce</option>
                    <option>Novinky</option>
                    <option>Pre Ženy</option>
                    <option>Pre Mužov</option>
                  </select>
              </div>
              <div class="form-group">
                  <label for="cena">Sem ide cena</label>
                  <textarea name="cena" class="form-control" id="cena" rows="1"></textarea>
              </div>
              <div class="form-group">
                  <label for="InputFile">Foto</label>
                  <input name="InputFile" type="file" class="form-control-file" id="InputFile" aria-describedby="fileHelp">
                  <small id="fileHelp" class="form-text text-muted">sem daj velku Fotku tovaru.</small>
              </div>
              <div class="form-group">
                  <label for="InputFile">Foto malinke - nahlad, len <b>ak</b> je variantov viac</label>
                  <input name="thumbFile" type="file" class="form-control-file" id="thumbFile" aria-describedby="fileHelp">
                  <small id="thumbHelp" class="form-text text-muted">sem daj variant - napr.farbu tovaru.</small>
              </div>
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Go!</button>
              </span>
          </form>
        </div>
    </div>
    </div>
<div>
  <br>
  <h2>Tu môžeš mazať celé produkty</h2>
    <a class="btn btn-danger" href="/adminDelete" role="button">Pome mazať, kekeke!</a>
</div>
<div>
  <br>
  <h2>Spravila si kiks? Tu sa dajú detaily vecí meniť</h2>
    <a class="btn btn-warning" href="/adminUpdate" role="button">Zmena je život</a>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
      <br>
    <h3> a sem nove varianty existujucich produktov </h3>
    <div>
        <form id="variantForm">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" form="variantForm" >Go!</button>
            </span>
            <input type="text" class="form-control" name="search" id="search" placeholder="Search for...">
          </div>
        </form>
        <script>
        $(function() {
            $('#variantForm').submit(function(event) {
                event.preventDefault();
                var data = $(this.search);
                // console.log(data);
                // build a json object or do something with the form, store in data
                $.post('/variantsearch', data, function(resp) {
                    for (var i = 0; i < resp.results.length; i++) {
                        console.log(resp.results);
                        document.getElementById("results").append(resp.results[i].title);
                        var $pagebreak = "<br>";
                        $("#results").append($pagebreak);
                        var $input = '<a href="/variant-add/' + resp.results[i]._id +'" class="btn btn-success" role="button"> Pridaj variant </a>'
                        $("#results").append($input);
                        $("#results").append($pagebreak);
                    }
                 });
              });
          });
        </script>
        <div id="results"> </div>
        <div id="pridaj"> </div>
